langchain
langchain-google-genai
langchain_community
pypdf
chromadb==0.4.15
langchain-chroma==0.0.4
pysqlite3-binary==0.5.1
sentence-transformers
google-generativeai
pdfplumber
streamlit
pyngrok
